/* Color Utilities */
.text-primary {
  color: var(--color-primary);
}

.text-danger {
  color: var(--color-danger);
}

.text-info {
  color: var(--color-info);
}

.text-muted {
  color: var(--color-text);
  opacity: 0.7;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-soft {
  background-color: var(--color-background-soft);
}
